@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

@layer components {
  .italianno-sm {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
  }
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.5s ease-in-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      /* transform: scale(0.95); */
    }
    100% {
      opacity: 2;
      /* transform: scale(1); */
    }
  }
}

.i-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.i-button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgb(44, 43, 77);
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}
